# The `temp{,*}` syntax matches __zero or more__ occurrences of the pattern inside the braces. #todo: not working
# The `[Tt]emp` syntax matches any __one__ of the characters inside the brackets.


.idea/
.fleet/
__pycache__/
.venv/
.cache/

.secrets/
.env*

[Ss]cratch*
[Ss]cratching*

[Tt]emp*
[Tt]mp*

.#*
.Rhistory

*.pkl
*.log
